Body{
    width: 1440px;
   height: 890px;
   top: -1708px;
   left: -748px;
   gap: 0px;
   opacity: 0px;
   background: grey;


}
.Top{
    width: 1440px;
    height: 592px;
    gap: 0px;
    opacity: 0px;
    background: #FFCD9E;
    margin-left: 250px;
    margin-top: 50px;
    font-family: sans-serif;
    display: inline-flex;

}
.Bottom{
    width: 1440px;
   height: 298px;
   top: 592px;
   gap: 0px;
  opacity: 0px;
  background: #282828;
  margin-left: 250px;
  display: inline-flex;


}
h1{
    padding-top: 50px;
    padding-left: 130px;
    font-size: 40px;
}
#p1{
    padding-left: 130px;
    padding-top: 30px;
    font-size:  25px;
}
h2{
    padding-left: 130px;
    padding-bottom: 40px;
    padding-top: 20px;
}
#one {
    padding-left: 20px;
    margin-left: 140px;
    height: 55px;
    border-radius: 5px;
    border: black solid;
    text-align: left;
    margin-right: 20px;
    padding-right: 120px;
    
    
    
    
    

}
#two{
    height: 50px;
    border-radius: 5px;
    padding-right: 8px;
    text-align: center;
    font-weight: 700;
    color: white;
    background-color: #282828;
    width: 120px;
    padding-left: 25px;
   
    
    

}
#img1{
    padding-top: 20px;
    padding-left: 80px;
}
#p2 {
    color: white;
    padding-left: 160px;
    padding-top: 10px;
    padding-bottom: 80px;
}
.Foot{
    margin-left: 190px;
    margin-top: 20px;
    
}
.Foot2{
    margin-left: 190px;
    margin-top: 30px;
    
}
#item1{
    margin-top: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    margin-left: 50px;
}
#item2{
    margin-top: 20px;
    font-weight: 400;
    font-family: sans-serif;
    color: white;
    margin-left: 470px;
    text-align: right;
    margin-bottom: 10px;
}
#item3{
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 473px;
    color: white;
    text-align: right;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
